/* HEADER */
header {
  position: sticky;
  top: 0;
  background-color: var(--ev-color-3);
  color: var(--ev-color-5);
  padding: var(--rtc-padding-xs);
  gap: var(--rtc-gap-s);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 12vh;
  z-index: 10;
}

#home {
  font-family: 'Arial', sans-serif;
  font-size: 1.4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: none;
  margin: 0;
  transition: transform 0.3s, color 0.3s;
}

#home:hover {
  transform: scale(1.1);
}

header #logoutlink {
  position: sticky; /* Cambia a sticky */
  top: 0;
  background-color: var(--ev-color-6);
  border: none;
}

header #logoutlink:hover {
  background-color: var(--ev-color-5);
  color: var(--ev-color-6);
}

header a {
  color: var(--ev-color-5);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

header #misEventoslink,
header #eventoslink,
header #registerlink {
  background-color: var(--ev-color-3);
  color: var(--ev-color-5);
}

header #misEventoslink:hover,
header #eventoslink:hover,
header #registerlink:hover {
  background-color: var(--ev-color-5);
  color: var(--ev-color-5);
}

header #loginlink {
  background-color: var(--ev-color-5);
  color: var(--ev-color-3);
}

header #loginlink:hover {
  background-color: var(--ev-color-3);
  color: var(--ev-color-5);
}


/* Estilo del contenedor del menú */
#menu-container {
  position: absolute; /* Asegúrate de que el menú esté en posición absoluta */
  right: 0; /* Coloca el menú a la derecha */
  top: 100%; /* Coloca el menú justo debajo del header */
  background-color: var(--ev-color-5); /* Fondo del menú */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para profundidad */
  display: flex;
  flex-direction: column; /* Alinear enlaces en columna */
  z-index: 20; /* Asegúrate de que el menú esté por encima de otros elementos */
}

/* Ocultar el menú inicialmente */
.hidden {
  display: none;
}

/* Mostrar menú en dispositivos móviles */
@media (max-width: 768px) {
  #menu-container {
    width: 200px; /* Ancho del menú */
  }
}
