* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  justify-content: center;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  z-index: 10;
}
header h1 {
  margin: 0;
  font-size: 2rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

header #logoutlink {
  background-color: #070707;
  border: none;
}

header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
header a:hover {
  background-color: white;
  color: #4caf50;
}
main {
  flex: 1;
  padding: 2rem;
  background-color: rgb(252, 246, 246);
  width: 100%;
  height: 100%;
}

footer {
  /* position: sticky; */
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

/* Estilos para la sección de register y login */

#register,
#login,
#crear-evento-modal {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register h2,
#login h2 {
  color: #28a745;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
}

.eventos,
.asistentes {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #132914;
  font-size: 2rem;
}

.link {
  color: #070707;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link a{
  color: blue;
}

.link a:hover {
  text-decoration: underline;
}

#register-form,
#login-form,
#crear-evento-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#register-form label,
#login-form label,
#crear-evento-modal label {
  font-weight: bold;
  color: #333; /* Color de texto oscuro */
  cursor: default;
}

#register-form input,
#login-form input,
#crear-evento-modal input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#register-form input:focus,
#login-form input:focus,
#crear-evento-modal input:focus {
  border-color: #4caf50;
  outline: none;
}

#registerbtn,
#loginbtn,
#crear-evento {
  background-color: #4caf50;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#registerbtn:hover,
#loginbtn:hover,
#crear-evento:hover {
  background-color: #45a049;
}

/* Estilos para la sección de eventos */
#eventos-container,
#asistentes-container {
  list-style-type: none;
  padding: 0;
}

#eventos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  max-height: 90vh;
}

#crear-evento-btn {
  background-color: #4caf50;
  color: white;
  padding: 0.75rem;
  border: 1px solid #070707;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.evento-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  background-color: #eaf7ea;
  color: #2c682d;
  width: 100%;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.evento-item:hover {
  color: #2dbb34;
  background-color: white;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.evento-img {
  width: 20%;
  height: 230px;
  object-fit: contain;
  margin-right: 45px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.evento-info {
  flex: 1;
  margin-left: 80px;
}

.evento-info h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #2dbb34;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.evento-info h3 {
  font-size: 1.2em;
}
.evento-info h3,
.evento-info h4,
.evento-info h5,
.evento-info p {
  margin: 10px 0;
}

.asistencia-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}

.asistencia-btn:hover {
  background-color: #1b752f;
}

.ver-asistentes-btn:hover {
  text-decoration: underline;
}

#asistentes-section {
  margin-top: 20px;
  color: black;
}
#asistentes-container li {
  color: #333;
  margin-bottom: 10px; /* Añade un margen inferior entre cada elemento de la lista */
  background-color: #f4f4f4; /* Color de fondo */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px; /* Relleno interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

#asistentes-container li:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el cursor */
}

#asistentes-container li::before {
  content: '👤';
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

#volver {
  padding: 10px;
  font-size: 16px;
  background-color: #457f4d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

#volver:hover {
  background-color: white;
  color: #457f4d;
}

/* Estilos para la ventana modal */
.modal {
  display: none; /* Por defecto, la ventana modal estará oculta */
  position: fixed; /* Se posicionará fija en la ventana del navegador */
  max-width: 400px; /* Cualquier ancho posible */
  width: 100%; /* La mitad del ancho de la ventana */
  height: auto; /* La mitad del alto de la ventana */
  top: 50%; /* La mitad del alto de la ventana */
  left: 50%; /* La mitad del ancho de la ventana */
  transform: translate(-50%, -50%); /* Centra la ventana modal */
  background-color: white; /* Fondo semitransparente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* Coloca la ventana modal encima de otros elementos */
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
  color: #2dbb34;
}

/* Estilos para el contenido dentro de la ventana modal */
.modal-content {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #242424;
  max-width: 400px;
  margin: 20px auto;
}
.modal-content label {
  font-weight: bold;
  color: #333; /* Color de texto oscuro */
}

/* Estilos para los campos de entrada */
.modal-content input[type='text'],
.modal-content input[type='date'],
.modal-content textarea {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.modal-content input[type='text']:focus,
.modal-content input[type='date']:focus,
.modal-content textarea:focus {
  border-color: #4caf50; /* Borde verde cuando enfocado */
}

/* Estilos para los botones */
.modal-content button {
  background-color: #4caf50; /* Fondo verde */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal-content button:hover {
  background-color: #45a049; /* Cambio de color al pasar el ratón */
}

.ver-asistentes-btn,
#cancelar-crear-evento {
  padding: 10px;
  background-color: white;
  color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}
